.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
    padding: 16px;
}
.Header{
    text-align: center;
}
.Logo{
    width: 64px;
    height: 64px;

}
.Title{
    margin: 0;
}
.ChatContainer{
    flex-grow: 1;
    width: 100%;
    background: white;
    border-radius: 15px;
    overflow-y: auto;
}